/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/badge.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/


.badge_card__NHj9Q {
  
    background-color: light-dark(var(--mantine-color-gray-10), var(--mantine-color-dark-4));
     /* Adjust the shadow values as needed */
    
   
  }
  
  .badge_section___5vd8 {
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-4));
    padding-top: var(--mantine-spacing-md);
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-md);
  }
  
  .badge_section1__mYeDk {
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-4));
    
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-md);
  }
  
  .badge_gradientBackground__FLum2 {
    background: linear-gradient(135deg, #4b6cb7 0%, #182848 100%);
    padding: 10px; /* Adjust padding as needed */
    border-radius: var(--mantine-radius-md); /* Add border-radius for the gradient background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box-shadow for the gradient background */
    border: 2px solid transparent; /* Set initial border with transparent color */
  }
  
  /* Add hover effect for the border */
  
  .badge_gradientBackground__FLum2:hover {
    border: 2px solid #4b6cb7; /* Change border color on hover */
  }
  
  .badge_label__TdD_n {
    
    font-size: var(--mantine-font-size-xs);
    font-weight: 700;
  }
  
