/* TypewriterEffect.module.css */

.typewriter {
    text-align: center;
    font-family: 'Courier New', Courier, monospace; 
    font-size: 1.5rem;
    
    padding: 0px 30%;
    overflow: hidden; 
    border-right: 3px solid #000;
    /* animation: blink-caret 0.75s step-end infinite; */
    animation: typing 4s steps(80, end), blink-caret 0.50s step-end infinite;
    flex-grow: 1;
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #000;
    }
  }
  @media screen and (max-width: 768px) {
    .typewriter {
        font-size: 1rem;
        padding: 0; /* Set padding to 0 for small screens */
        width: 100%; /* Adjust font size for smaller screens */
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .typewriter {
      padding: 0 200px; /* Set padding to 40 pixels for medium-sized screens */
  }
}

